.triangulo {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 47vw 0 0 47vw;
    border-color: transparent transparent transparent #0E681D;
    transform: rotate(90deg);
}

.logo_container {
    position: absolute;
    left: 0;
    margin-top: 6%;
    margin-left: 5%;
    width: 37%;
}

.logo_container img {
    max-width: 100%;
    height: auto; 
    width: 37%;
}
