@media screen and (max-width: 800px) {
    .retangulo {
        display: none;
    }
}

@media screen and (max-height: 474px) {
    .retangulo {
        display: none;
    }
}

.retangulo {
    position: absolute;
    top: -15%;
    left: 10%;
    width: 40%;
    height: 115%;
    background-color: #136935;
}

.logo_container img {
    width: 25%;
    /*min-width: 10%;
    margin-top: 5%;
    margin-left: 10%;*/
}

.logo_container {
    /*margin-top: none;
    max-width: 40%;
    white-space: nowrap;*/
    position: absolute;
    left: 0;
    margin-left: 21em;
    margin-top: 2em;
}

.text_container {
    position: absolute;
    top: 40%;
    left: 31.5%;
    transform: translate(-54%, -50%);
}

.text {
    font-family: "Bakbak One", sans-serif;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.diviser {
    position: absolute;
    width: 35%;
    margin-top: 2em;
    border: none;
    border-bottom: 5px solid #F3EEBF;
    top: 50%;
    left: 31.5%;
    transform: translate(-54%, -50%);
}